*{
    margin: 0;
    font-family: "DM Serif Text";
	background-color: #efeff3;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
font-family: "DM Serif Text", serif;
font-weight: 400;
font-style: italic;
}

.header{
    height: 60px;
    padding: 15px;
    background-color: lightblue;
    margin-bottom: 50px;
}

.main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms-link-container{
	width: 40%;
	height: 40px;
	justify-self: center;
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin-bottom: 40px;
}

.form-link{
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 8px;
	background-color: lightblue;
	color: white;
	border-radius: 7px;
}

.forms-row{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-content{
    width: 320px;
    height: 350px;
    padding: 19px;
    padding-left: 23px;
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 213, 223);
    border-radius: 7px;
    margin-bottom: 50px;
}

.text-input{
    width: 80%;
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin-bottom: 15px;
}

.submit-input{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(153, 126, 179);
    border: none;
}

.table-content {
    justify-self: center;
    width: 50%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #999;
    margin-bottom: 30px;
}

.table-content td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
    background-color: white;
}

.table-content th {
	border: 1px solid #999;
    padding: 8px;
    text-align: left;
    background-color: #eafafd;
}

.table-button{
	text-decoration: none;
	color: #1276b5;
	margin-right: 10px;
	background-color: #00000000;
}

th{
    border: 1px solid;
    padding: 5px;
    height: 20px;
}
