*{
    margin: 0;
    font-family: "DM Serif Text";
	background-color: #efeff3;
}

:root {
    --lightblue: rgb(97, 177, 206);
    --darkblue: rgb(38, 49, 98);
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
font-family: "DM Serif Text", serif;
font-weight: 400;
font-style: italic;
}

.header{
    height: 60px;
    padding: 15px;
    text-align: center;
    font-size: 23px;
    background-color: var(--lightblue);
}

.map-banner{
    background-image: url('assets/map-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.main{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms-link-container{
	width: 35%;
	height: 40px;
	justify-self: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 52px;
}

.form-link{
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 8px;
	background-color: rgb(146, 191, 233);
	color: white;
	border-radius: 7px;
}

.forms-row{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-content{
    width: 320px;
    height: 370px;
    padding: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightblue);
    border-radius: 14px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

.update-form-content{
    width: 320px;
    height: 280px;
    padding: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightblue);
    border-radius: 14px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

.form-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 6px;
    background-color: #00000000;
}

.form-input-title{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 6px;
    background-color: #00000000;
}

.text-input{
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 15px;
}

.select-input{
    width: 83%;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin-top: 13px;
    margin-bottom: 15px;
}

.submit-input{
    width: 50%;
    font-size: 16px;
    border-radius: 5px;
    padding: 9px;
    color: white;
    background-color: rgb(66, 112, 169);
    border: none;
}

.intro-text{
    width: 70%;
    text-align: center;
}

.table-content {
    justify-self: center;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid var(--darkblue);
    margin-bottom: 30px;
}

.table-content td {
    border: 1px solid var(--darkblue);
    padding: 8px;
    text-align: left;
    background-color: white;
}

.table-content th {
	border: 1px solid var(--darkblue);
    padding: 8px;
    text-align: left;
    background-color: var(--lightblue);
}

.table-button{
	text-decoration: underline;
	color: #f4f6fc;
	margin-right: 10px;
	background-color: #00000000;
}

th{
    border: 1px solid;
    padding: 5px;
    height: 20px;
}

.back-button{
    text-decoration: underline;
    font-size: 20px;
    color: rgb(38, 49, 98);
    padding: 8px;
    margin: 5px;
    margin-left: 20px;
    border-radius: 7px;
}

.search-container{
    width: 40%;
    height: 350px;
    padding: 16px;
    padding-top: 25px;
    border-radius: 12px;
    background-color: var(--lightblue);
    margin-bottom: 20px;
}

/*uma versão menor, para as cidades, pq tem pouca informação nelas*/
.cities-search-container{
    width: 40%;
    height: 250px;
    padding: 16px;
    padding-top: 25px;
    border-radius: 12px;
    background-color: var(--lightblue);
    margin-bottom: 20px;
}

.search-container h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    background-color: #00000000;
}

.cities-search-container h3{
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    background-color: #00000000;
}

/*por algum motivo os itens produzem cor de fundo automaticamente neles, então isso serve para tirar*/
.search-container h4,p, strong{
    background-color: #00000000;
    font-size: 18px;
}

.cities-search-container h4,p, strong{
    background-color: #00000000;
    font-size: 18px;
}

.search-form{
    margin-top: 10px;
    width: 35%;
    padding: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #00000000;
}

.search-result-container{
    margin-top: 20px;
    width: 50%;
    height: 69%;
    padding: 15px;
    padding-left: 20px;
    margin-right: 25px;
    float: right;
    border-radius: 4px;
    background-color: #8dc2e5;
}

.cities-search-result-container{
    margin-top: 20px;
    width: 50%;
    height: 60%;
    padding: 15px;
    padding-left: 20px;
    margin-right: 25px;
    float: right;
    border-radius: 4px;
    background-color: #8dc2e5;
}

.search-container-text{
    text-align: center;
    background-color:#00000000;
}

.search-result-container h3{
    color: rgb(14, 79, 155);
    font-size: 23px;
    font-weight: 600;
    background-color: #00000000;
    margin-bottom: 10px;
}

.cities-search-result-container h3{
    color: rgb(14, 79, 155);
    font-size: 23px;
    font-weight: 600;
    background-color: #00000000;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
    .forms-row{
        flex-direction: column;
    }

    .intro-text{
        width: 70%;
        text-align: center;
    }

    .form-content{
        align-self: center;
        width: 82%;
        height: auto;
        margin-bottom: 40px;
    }

    .update-form-content{
        align-self: center;
        width: 82%;
        height: auto;
        margin-bottom: 40px;
    }

    .forms-link-container{
        width: 70%;
        height: 42px;
        gap: 2px;
        flex-direction: column;
    }

    .table-content {
        width: 90%;
    }

    .search-container{
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }

    .search-form{
        align-items: center;
        width: 100%;
        float: none;
    }

    .search-result-container{
        width: 90%;
        height: 50%;
        float: none;
    }


}

